/*
 * CSS stylesheet for my personal website
 */

/* Fonts */

@font-face {
    font-family: title_font;
    src: url(pixel.ttf);
}

@font-face {
    font-family: crux;
    src: url(Pixeltype.ttf);
}

/* Main structure */

body {
	background-color: #2A2929;
}

.ley-title {
	color: white;
	font-family: title_font;
	font-size: 5em;
}

legend {
	color: white;
	font-family: crux;
	font-size: 3em;
}

p {
	color: white;
	font-family: crux;
	font-size: 2em;
}

li {
	font-family: crux;
	font-size: 3em;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
	cursor: pointer;
	float: left;
}

#title-about {
	color: white;
}

.home-menu-item {
	display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
	position: relative;
    padding: 0.5em 0em 0.5em 1em;
    height: 100%;
}

/* Fieldsets */

.about, .about-hidden {
	padding: 1% 2% 1% 2%;
	border: 3px solid #FFFFFF;
	margin-bottom: 1%;
}

.about-hidden {
	display: none;
}

.skills, .skills-hidden {
	padding: 1% 2% 1% 2%;
	border: 3px solid #FFFF00;
	margin-bottom: 1%;
}

.skills-hidden {
	display: none;
}

.skills legend {
	color: yellow;
}

.skills p, #title-skills {
	color: yellow;
}

.games, .games-hidden {
	padding: 1% 2% 1% 2%;
	border: 3px solid #00B5E8;
	margin-bottom: 1%;
}

.games-hidden {
	display: none;
}

.games legend {
	color: #00B5E8;
}

.games p, #title-games {
	color: #00B5E8;
}

.musics, .musics-hidden {
	padding: 1% 2% 1% 2%;
	border: 3px solid #39E800;
	margin-bottom: 1%;
}

.musics-hidden {
	display: none;
}


.musics legend {
	color: #39E800;
}

.musics p, #title-musics {
	color: #39E800;
}

.design, .design-hidden {
	padding: 1% 2% 1% 2%;
	border: 3px solid #FF0C00;
	margin-bottom: 1%;
}

.design-hidden {
	display: none
}

.design legend {
	color: #FF0C00;
}

.design p, #title-design {
	color: #FF0C00;
}