@font-face {
    font-family: title_font;
    src: url(pixel.ttf);
}

@font-face {
    font-family: crux;
    src: url(Pixeltype.ttf);
}

body {
	background-color: #2A2929;
}

.ley-title {
	color: white;
	font-family: title_font;
	font-size: 5em;
}

p {
	color: white;
	font-family: crux;
	font-size: 2em;
}