// personal variables
$white: white;
$beige:#e1eef6;
$orange:#d34f12ec;
$jaune:#fcbe32;
$bleu_fonce:#004e66;

$body_font: 'Roboto','Varela Round', sans-serif;
$headings_font: 'Bevan', sans-serif;

//@import url('https://fonts.googleapis.com/css?family=Varela+Round|Bevan');

body {
    margin: 0;
    font-family: $body_font;
    font-size: 1.1rem;
    height: 100vh;
}

.container {
    margin: 0;
    height: 100vh;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
 * Styles des icônes
 **/

a {
    color: black;
}

.link {
    &:hover {
        color: $jaune;
        cursor: pointer;
    }
}

/**
 * fade in sur la photo
 **/

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (min-width: 1380px) {

    .content {
        width: 75vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media {
        height: 100%;
        width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .description {
        height: 100%;
        width: 50%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
    }

    img {
        background-color: rgb(194, 194, 194);
        height: 400px;
        width: 300px;
        margin-top: -15%;
        margin-left: -20%;
    }

    .photo {
        border: 2px solid black;
        height: 400px;
        width: 300px;
        margin-top: 25%;
        margin-left: 30%;
    }

    .social-media {
        margin-top: 10%;
        height: 40px;
        width: 100%;
        font-size: 2.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
}


@media screen and (min-width: 750px) and (max-width: 1380px) {
    .content {
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .description {
        height: 100%;
        width: 50%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
    }

    img {
        background-color: rgb(194, 194, 194);
        height: 267px;
        width: 200px;
        margin-top: -15%;
        margin-left: -20%;
    }

    .photo {
        border: 2px solid black;
        height: 267px;
        width: 200px;
    }

    .social-media {
        margin-top: 10%;
        height: 40px;
        width: 100%;
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 750px) {

    .content {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .media {
        height: 100%;
        width: 100%;
    }
    .description {
        height: 100%;
        padding: 10% 5%;
        text-align: justify;
        flex-direction: column;
    }

    img {
        background-color: rgb(194, 194, 194);
        height: 200px;
        width: 150px;
        margin-top: -15%;
        margin-left: -20%;
    }
    
    .photo {
        border: 2px solid black;
        height: 200px;
        width: 150px;
        margin-top: 25%;
        margin-left: 35%;
    }

    .social-media {
        margin-top: 10%;
        height: 40px;
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }

}