$jaune:#fcbe32;

@font-face {
    font-family: "biko";
    src: url("/fonts/biko/Biko_Bold.otf");
}

@font-face {
    font-family: "roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    margin: 0;
    font-size: 1.1rem;
    height: 100vh;
}

.rappel-logo {
    color: $jaune;
}

h1 {
    font-family: "biko";
    font-size: 2.5rem;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
}
  
@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/**
 * Styles des icônes
 **/

a {
    color: black;
}

.link {
    &:hover {
        color: $jaune;
        cursor: pointer;
    }
}

/**
 * fade in sur la photo
 **/

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (min-width: 1380px) {

    .container {
        margin: 0;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .content {
        width: 75vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .media {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .description {
        height: 100%;
        width: 50%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        font-family: "roboto";
        font-size: 1.2rem;
        line-height: 2em;
    }

    img {
        background-color: rgb(194, 194, 194);
        height: 400px;
        width: 300px;
        margin-top: -15%;
        margin-left: -20%;
    }

    .photo {
        border: 2px solid black;
        height: 400px;
        width: 300px;
    }

    .social-media {
        margin-top: 10%;
        height: 40px;
        width: 100%;
        font-size: 2.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
}


@media screen and (min-width: 750px) and (max-width: 1380px) {

    .container {
        margin: 0;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .media {
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .description {
        height: 100%;
        width: 70%;
        padding: 0 5%;
        font-family: "roboto";
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        flex-direction: column;
        line-height: 2em;
        padding-bottom: 10%;
        font-size: 1.5rem;
    }

    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        background-color: rgb(194, 194, 194);
        height: 267px;
        width: 200px;
    }

    .social-media {
        margin-top: 10%;
        height: 40px;
        width: 100%;
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 750px) {

    .container {
        margin: 0;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    .content {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .media {
        width: 100%;
        height: 100%;
        padding: 10% 5%;
        text-align: justify;
        flex-direction: column;
    }
    .description {
        height: 100%;
        padding: 10% 10%;
        text-align: justify;
        flex-direction: column;
        line-height: 2.2rem;
        font-family: "roboto";
    }

    .photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        background-color: rgb(194, 194, 194);
        height: 200px;
        width: 150px;
    }

    .social-media {
        margin-top: 10%;
        height: 40px;
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }

}